In [1]:
import sqlite3
from flask import Flask, jsonify, render_template
from datetime import datetime as dt
import pandas as pd
import numpy as np

In [19]:
conn = sqlite3.connect("./mockdata.sqlite")
cur = conn.cursor()
cur.execute("SELECT DISTINCT year FROM mockdata ORDER BY year")
results=cur.fetchall()
year_list=[]
for result in results:
    year_list.append(result[0])
    
year_list

[1985, 1990]

In [18]:
results[0][0]

1985

In [36]:
conn = sqlite3.connect("./data/mockdata.sqlite")
cur = conn.cursor()
cur.execute("SELECT state, Industry,year,total_pop,education,income,pct_urb FROM mockdata GROUP BY state")
results=cur.fetchall()
states_group=[]
for result in results:
    states_group.append(dict(state=result[0],industry=result[1],year=result[2],total_population=result[3],education=result[4],income=result[5]))

states_group

[{'state': 'GA',
  'industry': 'Manufacturing',
  'year': 1985,
  'total_population': 9000,
  'education': 'Colelge Graduate',
  'income': 97000},
 {'state': 'NY',
  'industry': 'Mining',
  'year': 1990,
  'total_population': 123123,
  'education': 'Highscool',
  'income': 128000}]

In [27]:
results

[('GA', 'Manufacturing', 1985, 9000, 'Colelge Graduate', 97000, '43%'),
 ('NY', 'Mining', 1990, 123123, 'Highscool', 128000, '75%')]

# Data Needed

year
count(people)


coount gruped by industry and year

In [33]:
conn = sqlite3.connect("./data//mockdata.sqlite")
cur = conn.cursor()
cur.execute("SELECT count(total_pop) AS Jobs, Industry,year FROM mockdata GROUP BY Industry,year")
results=cur.fetchall()
time_group=[]
for result in results:
    states_group.append(dict(jobs=result[0],industry=result[1],year=result[2]))

time_group

[]

In [34]:
results

[(1, 'Manufacturing', 1985), (1, 'Mining', 1990)]

# Manufacturing and education level

In [ ]:
conn = sqlite3.connect("./data//mockdata.sqlite")
cur = conn.cursor()
cur.execute("SELECT count(total_pop) AS Jobs, Industry,year FROM mockdata GROUP BY Industry,year")
results=cur.fetchall()
time_group=[]
for result in results:
    states_group.append(dict(jobs=result[0],industry=result[1],year=result[2]))

time_group

# Range

In [38]:
start=1985
end=2000

In [39]:


conn = sqlite3.connect("./data//mockdata.sqlite")
cur = conn.cursor()
cur.execute(f"SELECT total_pop, year FROM mockdata WHERE year >= {start} and year <= {end} ;")
results=cur.fetchall()
range_group=[]
for result in results:
    range_group.append(dict(jobs=result[0],year=result[1]))

In [40]:
range_group

[{'jobs': 9000, 'year': 1985}, {'jobs': 123123, 'year': 1990}]