In [1]:
import sqlite3
from flask import Flask, jsonify, render_template
from datetime import datetime as dt
import pandas as pd
import numpy as np

In [19]:
conn = sqlite3.connect("./mockdata.sqlite")
cur = conn.cursor()
cur.execute("SELECT DISTINCT year FROM mockdata ORDER BY year")
results=cur.fetchall()
year_list=[]
for result in results:
    year_list.append(result[0])
    
year_list

[1985, 1990]

In [11]:
cur.execute("SHOW tables;")
results=cur.fetchall()

OperationalError: near "SHOW": syntax error

In [18]:
results[0][0]

1985

In [26]:
    conn = sqlite3.connect("./mockdata.sqlite")
    cur = conn.cursor()
    cur.execute("SELECT state, Industry,year,total_pop,education,income,pct_urb FROM mockdata GROUP BY state")
    results=cur.fetchall()
    states_group=[]
    for result in results:
        states_group.append(dict(state=result[0],industry=result[1],year=result[2],total_population=result[3],income=result[4],pct_urban=result[5]))

    states_group

[{'state': 'GA',
  'industry': 'Manufacturing',
  'year': 1985,
  'total_population': 9000,
  'income': 'Colelge Graduate',
  'pct_urban': 97000},
 {'state': 'NY',
  'industry': 'Mining',
  'year': 1990,
  'total_population': 123123,
  'income': 'Highscool',
  'pct_urban': 128000}]

In [23]:
results

[('GA', 'Manufacturing', 1985, 9000, 'Colelge Graduate', 97000, '43%'),
 ('NY', 'Mining', 1990, 123123, 'Highscool', 128000, '75%')]