# Data Dictionary:

INDUSTRY
AGE
RACE
SEX
INCTOT
EMPSTAT - employmentsatus
PWSTATE2

In [2]:
import sqlite3
from flask import Flask, jsonify, render_template
from datetime import datetime as dt
import pandas as pd
import numpy as np

In [3]:
conn = sqlite3.connect("./data/Indsauto.db")
cur = conn.cursor()
cur.execute("SELECT DISTINCT years FROM MacTrans ORDER BY years")
results=cur.fetchall()
year_list=[]
for result in results:
    year_list.append(result[0])
    
year_list

[1900,
 1910,
 1920,
 1930,
 1940,
 1950,
 1960,
 1970,
 1980,
 1990,
 2000,
 2010,
 2015,
 2017]

In [4]:
conn = sqlite3.connect("./data/Indsauto.db")
cur = conn.cursor()
cur.execute("SELECT * FROM MacCat")
results=cur.fetchall()
year_list=[]
for result in results:
    year_list.append(result[0])
    
year_list

['Population',
 'Income',
 'E0%',
 'E1%',
 'E2%',
 'E3%',
 'E0',
 'E1',
 'E2',
 'E3',
 'Age',
 'R0%',
 'R1%',
 'R2%',
 'R3%',
 'R4%',
 'R5%',
 'R0',
 'R1',
 'R2',
 'R3',
 'R4',
 'R5',
 'Female%',
 'Male%',
 'Employment%',
 'Employment']

In [18]:
results[0][0]

1985

In [36]:
conn = sqlite3.connect("./data/mockdata.sqlite")
cur = conn.cursor()
cur.execute("SELECT state, Industry,year,total_pop,education,income,pct_urb FROM mockdata GROUP BY state")
results=cur.fetchall()
states_group=[]
for result in results:
    states_group.append(dict(state=result[0],industry=result[1],year=result[2],total_population=result[3],education=result[4],income=result[5]))

states_group

[{'state': 'GA',
  'industry': 'Manufacturing',
  'year': 1985,
  'total_population': 9000,
  'education': 'Colelge Graduate',
  'income': 97000},
 {'state': 'NY',
  'industry': 'Mining',
  'year': 1990,
  'total_population': 123123,
  'education': 'Highscool',
  'income': 128000}]

In [27]:
results

[('GA', 'Manufacturing', 1985, 9000, 'Colelge Graduate', 97000, '43%'),
 ('NY', 'Mining', 1990, 123123, 'Highscool', 128000, '75%')]

# Data Needed

year
count(people)


coount gruped by industry and year

In [33]:
conn = sqlite3.connect("./data//mockdata.sqlite")
cur = conn.cursor()
cur.execute("SELECT count(total_pop) AS Jobs, Industry,year FROM mockdata GROUP BY Industry,year")
results=cur.fetchall()
time_group=[]
for result in results:
    states_group.append(dict(jobs=result[0],industry=result[1],year=result[2]))

time_group

[]

In [34]:
results

[(1, 'Manufacturing', 1985), (1, 'Mining', 1990)]

# Manufacturing and education level

In [ ]:
conn = sqlite3.connect("./data//mockdata.sqlite")
cur = conn.cursor()
cur.execute("SELECT count(total_pop) AS Jobs, Industry,year FROM mockdata GROUP BY Industry,year")
results=cur.fetchall()
time_group=[]
for result in results:
    states_group.append(dict(jobs=result[0],industry=result[1],year=result[2]))

time_group

# Range

In [38]:
start=1985
end=2000

In [39]:


conn = sqlite3.connect("./data//mockdata.sqlite")
cur = conn.cursor()
cur.execute(f"SELECT total_pop, year FROM mockdata WHERE year >= {start} and year <= {end} ;")
results=cur.fetchall()
range_group=[]
for result in results:
    range_group.append(dict(jobs=result[0],year=result[1]))

In [40]:
range_group

[{'jobs': 9000, 'year': 1985}, {'jobs': 123123, 'year': 1990}]

# Real Data

/timespan

In [5]:
conn = sqlite3.connect("./data/Project3.db")
cur = conn.cursor()
cur.execute("SELECT DISTINCT Year FROM Employ ORDER BY year")
results=cur.fetchall()
year_list=[]
for result in results:
    year_list.append(result[0])
    
year_list

['1950', '1960', '1970', '1980', '1990', '2000', '2010', '2015', '2017']

/bubble_graph

In [9]:
conn = sqlite3.connect("./data/Project3.db")
cur = conn.cursor()
cur.execute("SELECT Income.Year, Income.Ind, Age.Age, Income.obs, Income.Income FROM Income , Age WHERE Age.ind=Income.ind AND Age.Year=Income.Year;")
results=cur.fetchall()
bubble_group=[]
for result in results:
    bubble_group.append(dict(year=result[0],industry_sid=result[1],median_age=result[2],jobs_number=result[3],median_income=result[4]))

bubble_group[0]

{'year': '1950',
 'industry_sid': '1',
 'median_age': '39',
 'jobs_number': '20956',
 'median_income': '950'}

/chloropleth

In [10]:
# conn = sqlite3.connect("./data/Project3.db")
# cur = conn.cursor()

/education_data

In [86]:
industry_key={ "1": "Agriculture",
                "2": "Manufacturing",
                "3": "Business & Repair Services",
                "4" : "Professional & Related Services",
                "5": "Public Administration"}


education_key={ "0": "N/A or No Schooling",
                "1": "Elementary, Middle, and/or High School",
                "2": "College",
                "3": "Graduate Degree"}

In [156]:
year=1950
conn = sqlite3.connect("./data/Project3.db")
cur = conn.cursor()
cur.execute(f"SELECT DISTINCT Ind FROM Education")
results=cur.fetchall()
bar_group=[]
industry_sid=[]
for result in results:
    industry_sid.append(dict(industry=result[0]))

for row in industry_sid:
    cur = conn.cursor()
    ind_sid=row['industry']
    cur.execute(f"SELECT Obs, Education FROM Education WHERE Year={year} AND Ind='{ind_sid}';")
    results2=cur.fetchall()
    bar_group.append(dict(industry=industry_key[ind_sid],education=[{'education_level':education_key[results2[0][1]],
                                                                       'number_employed':results2[0][0]},
                                                                     {'education_level':education_key[results2[1][1]],
                                                                       'number_employed':results2[1][0]},
                                                                     {'education_level':education_key[results2[2][1]],
                                                                       'number_employed':results2[2][0]},
                                                                     {'education_level':education_key[results2[3][1]],
                                                                       'number_employed':results2[3][0]}]))


bar_group

[{'industry': 'Agriculture',
  'education': [{'education_level': 'N/A or No Schooling',
    'number_employed': '71060'},
   {'education_level': 'Elementary, Middle, and/or High School',
    'number_employed': '19361'},
   {'education_level': 'College', 'number_employed': '874'},
   {'education_level': 'Graduate Degree', 'number_employed': '119'}]},
 {'industry': 'Manufacturing',
  'education': [{'education_level': 'N/A or No Schooling',
    'number_employed': '134518'},
   {'education_level': 'Elementary, Middle, and/or High School',
    'number_employed': '41402'},
   {'education_level': 'College', 'number_employed': '4195'},
   {'education_level': 'Graduate Degree', 'number_employed': '500'}]},
 {'industry': 'Business & Repair Services',
  'education': [{'education_level': 'N/A or No Schooling',
    'number_employed': '39594'},
   {'education_level': 'Elementary, Middle, and/or High School',
    'number_employed': '13797'},
   {'education_level': 'College', 'number_employed': '1254'},
   {'education_level': 'Graduate Degree', 'number_employed': '119'}]},
 {'industry': 'Professional & Related Services',
  'education': [{'education_level': 'N/A or No Schooling',
    'number_employed': '31516'},
   {'education_level': 'Elementary, Middle, and/or High School',
    'number_employed': '6420'},
   {'education_level': 'College', 'number_employed': '5651'},
   {'education_level': 'Graduate Degree', 'number_employed': '2872'}]},
 {'industry': 'Public Administration',
  'education': [{'education_level': 'N/A or No Schooling',
    'number_employed': '19160'},
   {'education_level': 'Elementary, Middle, and/or High School',
    'number_employed': '7144'},
   {'education_level': 'College', 'number_employed': '1901'},
   {'education_level': 'Graduate Degree', 'number_employed': '362'}]}]

In [101]:
test[0]['industry']=='Agriculture'

True

In [14]:
conn = sqlite3.connect("./data/Project3.db")
cur = conn.cursor()
cur.execute("SELECT Obs, sex FROM allsex WHERE Year='1950' AND Ind='1';")
results=cur.fetchall()

In [31]:
gender_group={ str(results[0][1]) : results[0][0],str(results[1][1]) : results[1][0]}

In [32]:
gender_group

{'F': '9671', 'M': '81743'}

In [33]:
year="1950"
industry_sid='1'

In [34]:
state_dict={ "1":"Alabama",
            "2":"Alaska",
            "4":"Arizona",
            "5":"Arkansas",
            "6":"California",
            "8":"Colorado",
            "9":"Connecticut",
            "10":"Delaware",
            "12":"Florida",
            "13":"Georgia",
            "15":"Hawaii",
            "16":"Idaho",
            "17":"Illinois",
            "18":"Indiana",
            "19":"Iowa",
            "20":"Kansas",
            "21":"Kentucky",
            "22":"Loisana",
            "23":"Maine",
            "24":"Maryland",
            "25":"Massachusetts",
            "26":"Michigan",
            "27":"Minnesota",
            "28":"Mississippi",
            "29":"Missouri",
            "30":"Montana",
            "31":"Nebraska",
            "32":"Nevada",
            "33":"New Hampshire",
            "34":"New Jersey",
            "35":"New Mexico",
            "36":"New York",
            "37":"North Carolina",
            "38":"North Dakota",
            "39":"Ohio",
            "40":"Oklahoma",
            "41":"Oregon",
            "42":"Pennsylvania",
            "44":"Rhode Island",
            "45":"South Carolina",
            "46":"South Dakota",
            "47":"Tennessee",
            "48":"Texas",
            "49":"Utah",
            "50":"Vermont",
            "51":"Virginia",
            "53":"Washington",
            "54":"West Virginia",
            "55":"Wisconsin",
            "56":"Wyoming" }

In [35]:
conn = sqlite3.connect("./data/Project3.db")
cur = conn.cursor()
cur.execute(f"SELECT obs, state FROM XState WHERE year='{year}' AND industry='{industry_sid}';")
results=cur.fetchall()
states_group=[]
for result in results:
    states_group.append(dict(jobs=result[0],state=state_dict[result[1]]))

In [36]:
states_group

[{'jobs': '9288', 'state': 'Alabama'},
 {'jobs': '22059', 'state': 'Florida'},
 {'jobs': '8232', 'state': 'Loisana'},
 {'jobs': '15667', 'state': 'Nebraska'},
 {'jobs': '10591', 'state': 'Oklahoma'},
 {'jobs': '2438', 'state': 'Vermont'}]

In [42]:
race_key={  "1": "White",
            "2": "Black/African American",
            "3": "American Indian or Alaska Native",
            "4": "Asian or Pacific Islander",
            "5": "Other race",
            "6": "Two or more races",
            }

In [40]:
conn = sqlite3.connect("./data/Project3.db")
cur = conn.cursor()
cur.execute(f"SELECT Obs, race FROM all_race WHERE Year='{year}' AND Ind='{industry_sid}';")
results=cur.fetchall()

In [41]:
results

[('73795', '1'), ('16472', '2'), ('594', '3'), ('392', '4'), ('161', '5')]

In [43]:
race_dict={}
for result in results:
    race_dict.update( { race_key[result[1]] : result[0]} )

In [52]:
year=1950

In [53]:
conn = sqlite3.connect("./data/Project3.db")
cur = conn.cursor()
cur.execute(f"SELECT Obs, race FROM all_race WHERE Year='{year}' AND Ind='{industry_sid}';")
results=cur.fetchall()
race_dict={}
        
for result in results:
    race_dict.update( { race_key[result[1]] : int(result[0])} )
if not results:
    race_dict={
        'White': 1000,
        'Black/African American': 1000,
        'American Indian or Alaska Native': 1000,
        'Asian or Pacific Islander': 1000,
        'Other race': 1000}

In [54]:
race_dict

{'White': 73795,
 'Black/African American': 16472,
 'American Indian or Alaska Native': 594,
 'Asian or Pacific Islander': 392,
 'Other race': 161}

In [49]:
results

[]

# Data shaping

### Inflation Calculations

These values are returned from https://westegg.com/inflation/

In [60]:
inflation_dict= {
      "1950" : 10.35, 
      "1960" : 8.41, 
      "1970" : 6.42, 
      "1980" : 3.02 , 
      "1990" : 1.90, 
      "2000" : 1.45, 
      "2010" : 1.16, 
      "2015" : 1.04, 
      "2017" : 1.00
}

def inflation_adjust(year, dollars):
    return float(dollars)*inflation_dict[str(year)]

In [62]:
inflation_adjust(2015, 100)

104.0

/income_kpi

In [202]:
year="1950"
conn = sqlite3.connect("./data/Project3.db")
cur = conn.cursor()
cur.execute(f"SELECT income FROM Year_income WHERE Year='{year}';")
results=cur.fetchall()
results[0][0]

'2050'

/employment_kpi

In [206]:
employ_dict={"1": "employed",
            "2":"unemployed"}

conn = sqlite3.connect("./data/Project3.db")
cur = conn.cursor()
cur.execute(f"SELECT obs, employ FROM Year_employ WHERE Year='{year}';")
results=cur.fetchall()
raw_emp={}
for result in results:
    dict_title=employ_dict[result[1]]
    raw_emp.update( { dict_title : float(result[0])} )
pct_results= { 'employed' : 100*raw_emp['employed'] /(raw_emp['employed']+raw_emp['unemployed']) ,
             'unemployed' : 100*raw_emp['unemployed'] /(raw_emp['employed']+raw_emp['unemployed']) }

employed
unemployed

/employment_by_indus_kpi

In [207]:
industry_sid="1"
conn = sqlite3.connect("./data/Project3.db")
cur = conn.cursor()
cur.execute(f"SELECT obs, employ FROM employ WHERE Year='{year}' AND Ind='{industry_sid}';")
results=cur.fetchall()
raw_emp={}
for result in results:
    dict_title=employ_dict[result[1]]
    raw_emp.update( { dict_title : float(result[0])} )
pct_results= { 'employed' : 100*raw_emp['employed'] /(raw_emp['employed']+raw_emp['unemployed']) ,
             'unemployed' : 100*raw_emp['unemployed'] /(raw_emp['employed']+raw_emp['unemployed']) }

In [208]:
pct_results

{'employed': 97.91837976052356, 'unemployed': 2.081620239476441}

In [216]:
    cur = conn.cursor()
    cur.execute(f"SELECT income , year FROM Year_income;")
    results=cur.fetchall()
    income_list=[]
    for result in results:
        income_list.append(float(result[0])*inflation_dict[result[1]])
    income_list.sort(reverse=True)
    conn = sqlite3.connect("./data/Project3.db")
    cur = conn.cursor()
    cur.execute(f"SELECT income FROM Year_income WHERE Year='{year}';")
    results=cur.fetchall()
    income=100*float(results[0][0])*inflation_dict[str(year)]/income_list[0]

income

51.00360576923077

# summary

In [251]:
industry_sid="1"

yearrange= ["1950" , "1960" , "1970" , "1980" , "1990" , "2000" , "2010" , "2015" , "2017"]
industry_range= [ "1" , "2", "3", "4" , "5"]
summary_results=[]
for yr in yearrange:
    for industry_id in industry_range:
        conn = sqlite3.connect("./data/Project3.db")
        cur = conn.cursor()
        cur.execute(f"SELECT obs, employ FROM Employ WHERE Year='{yr}' AND Ind='{industry_id}';")
        results=cur.fetchall()
        raw_emp={}
        for result in results:
            dict_title=employ_dict[result[1]]
            raw_emp.update( { dict_title : float(result[0])} )
        print(raw_emp, year)
        try:
            pct_results= { 'employment_rate' : 100*raw_emp['employed'] /(raw_emp['employed']+raw_emp['unemployed']) , 
                      'year' : year, 
                      "Industry" : industry_key[industry_sid]
                     }
        except:
            pct_results= { 'employment_rate' : 100 , 
                      'year' : year, 
                      "Industry" : industry_key[industry_sid]
                     }
        summary_results.append(pct_results)

{'employed': 86929.0, 'unemployed': 1848.0} 2015
{'employed': 173175.0, 'unemployed': 7400.0} 2015
{'employed': 52265.0, 'unemployed': 2423.0} 2015
{'employed': 45671.0, 'unemployed': 731.0} 2015
{'employed': 27534.0, 'unemployed': 1033.0} 2015
{'employed': 202459.0, 'unemployed': 7281.0} 2015
{'employed': 856566.0, 'unemployed': 49582.0} 2015
{'employed': 258358.0, 'unemployed': 12998.0} 2015
{'employed': 372418.0, 'unemployed': 6615.0} 2015
{'employed': 215968.0, 'unemployed': 3910.0} 2015
{'employed': 25316.0, 'unemployed': 874.0} 2015
{'employed': 184145.0, 'unemployed': 8909.0} 2015
{'employed': 50459.0, 'unemployed': 2186.0} 2015
{'employed': 128452.0, 'unemployed': 2481.0} 2015
{'employed': 33007.0, 'unemployed': 923.0} 2015
{'employed': 139301.0, 'unemployed': 9000.0} 2015
{'employed': 1082284.0, 'unemployed': 79641.0} 2015
{'employed': 198260.0, 'unemployed': 12939.0} 2015
{'employed': 975879.0, 'unemployed': 28261.0} 2015
{'employed': 254398.0, 'unemployed': 10045.0} 2015
{'employed': 177245.0, 'unemployed': 13643.0} 2015
{'employed': 1030390.0, 'unemployed': 63585.0} 2015
{'employed': 263601.0, 'unemployed': 20714.0} 2015
{'employed': 1298142.0, 'unemployed': 37224.0} 2015
{'employed': 271880.0, 'unemployed': 7531.0} 2015
{'employed': 126887.0, 'unemployed': 9275.0} 2015
{'employed': 920325.0, 'unemployed': 45316.0} 2015
{'employed': 185547.0, 'unemployed': 8759.0} 2015
{'employed': 559022.0, 'unemployed': 33006.0} 2015
{'employed': 308883.0, 'unemployed': 7582.0} 2015
{'employed': 22699.0, 'unemployed': 2151.0} 2015
{'employed': 146073.0, 'unemployed': 17519.0} 2015
{'employed': 38366.0, 'unemployed': 3338.0} 2015
{'employed': 141434.0, 'unemployed': 16580.0} 2015
{'employed': 74118.0, 'unemployed': 3314.0} 2015
{} 2015
{'employed': 151449.0, 'unemployed': 6367.0} 2015
{'employed': 39278.0, 'unemployed': 1834.0} 2015
{'employed': 159848.0, 'unemployed': 9804.0} 2015
{'employed': 69360.0, 'unemployed': 1527.0} 2015
{'employed': 21725.0, 'unemployed': 1199.0} 2015
{'employed': 153015.0, 'unemployed': 5368.0} 2015
{'employed': 40702.0, 'unemployed': 1617.0} 2015
{'employed': 169177.0, 'unemployed': 8708.0} 2015
{'employed': 71803.0, 'unemployed': 1370.0} 2015

In [252]:
summary_results

[{'employment_rate': 97.91837976052356,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 95.9019797867922,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 95.56941193680515,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 98.42463686910047,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 96.38393951062415,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 96.52855916849433,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 94.5282669056269,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 95.20998245846785,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 98.25476937364293,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 98.22174114736353,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 96.66284841542573,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 95.38522900328405,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 95.84765884699402,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 98.10513774220402,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 97.27969348659003,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 93.93126142102885,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 93.14577102652925,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 93.87355053764459,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 97.18555181548389,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 96.20144983985206,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 92.85287707975357,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 94.18770995680889,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 92.71441886639819,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 97.21244962055347,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 97.30468736019698,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 93.1882610419941,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 95.30715866455546,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 95.49216184780707,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 94.42492584810178,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 97.60415843774193,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 91.34406438631791,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 89.29104112670547,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 91.99597160943794,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 89.5072588504816,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 95.7201157144333,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 100, 'year': '2015', 'Industry': 'Agriculture'},
 {'employment_rate': 95.96555482333856,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 95.53901537264059,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 94.22111145167756,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 97.84586736637183,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 94.76967370441459,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 96.61074736556323,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 96.17902124341312,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 95.10470247631898,
  'year': '2015',
  'Industry': 'Agriculture'},
 {'employment_rate': 98.12772470720074,
  'year': '2015',
  'Industry': 'Agriculture'}]

In [230]:
pct_results

{'employment_rate': 97.91837976052356,
 'year': '1950',
 'Industry': 'Agriculture'}

In [232]:
employ_dict

{'1': 'employed', '2': 'unemployed'}

In [237]:
results

[('69360', '1'), ('1527', '2')]

In [242]:
raw_emp

{}

# DB Update command:

Ran on DB directly

INSERT INTO allrace (race,Year,obs,pert_pp_race_year,ind)
VALUES
(1,1950,165214,3.048527448,2),
(1,1960,1059265,19.54554957,2),
(1,1970,219574,4.051577747,2),
(1,1980,1155309,21.31775272,2),
(1,1990,1069649,19.73715506,2),
(1,2000,905974,16.71702523,2),
(1,2010,152660,2.816881137,2),
(2,1950,14999,0.276761432,2),
(2,1960,74381,1.372477636,2),
(2,1970,20273,0.374077239,2),
(2,1980,142077,2.621603703,2),
(2,1990,115945,2.139416242,2),
(2,2000,114059,2.104615784,2),
(2,2010,15816,0.291836709,2),
(3,1950,192,0.003542783,2),
(3,1960,1422,0.026238733,2),
(3,1970,588,0.010849771,2),
(3,1980,6833,0.126082463,2),
(3,1990,26,0.000479752,2),
(3,2000,8356,0.154184847,2),
(3,2010,1164,0.021478119,2),
(4,1950,185,0.003413619,2),
(4,1960,3783,0.069803887,2),
(4,1970,1187,0.021902515,2),
(4,1980,18519,0.341712445,2),
(4,1990,31502,0.58127466,2),
(4,2000,46878,0.864992493,2),
(4,2010,1743,0.032161822,2),
(5,1950,25,0.0004613,2),
(5,1960,656,0.012104507,2),
(5,1970,250,0.004612998,2),
(5,1980,4665,0.086078544,2),
(5,1990,51937,0.958341122,2),
(5,2000,40,0.00073808,2),
(5,2010,7168,0.13226388,2),
(6,1980,2441,0.045041313,2),
(6,1990,4025,0.074269269,2),
(6,2000,573,0.010572992,2),
(6,2010,116,0.002140431,2);