# Data Dictionary:

INDUSTRY
AGE
RACE
SEX
INCTOT
EMPSTAT - employmentsatus
PWSTATE2

In [2]:
import sqlite3
from flask import Flask, jsonify, render_template
from datetime import datetime as dt
import pandas as pd
import numpy as np

In [3]:
conn = sqlite3.connect("./data/Indsauto.db")
cur = conn.cursor()
cur.execute("SELECT DISTINCT years FROM MacTrans ORDER BY years")
results=cur.fetchall()
year_list=[]
for result in results:
    year_list.append(result[0])
    
year_list

[1900,
 1910,
 1920,
 1930,
 1940,
 1950,
 1960,
 1970,
 1980,
 1990,
 2000,
 2010,
 2015,
 2017]

In [4]:
conn = sqlite3.connect("./data/Indsauto.db")
cur = conn.cursor()
cur.execute("SELECT * FROM MacCat")
results=cur.fetchall()
year_list=[]
for result in results:
    year_list.append(result[0])
    
year_list

['Population',
 'Income',
 'E0%',
 'E1%',
 'E2%',
 'E3%',
 'E0',
 'E1',
 'E2',
 'E3',
 'Age',
 'R0%',
 'R1%',
 'R2%',
 'R3%',
 'R4%',
 'R5%',
 'R0',
 'R1',
 'R2',
 'R3',
 'R4',
 'R5',
 'Female%',
 'Male%',
 'Employment%',
 'Employment']

In [18]:
results[0][0]

1985

In [36]:
conn = sqlite3.connect("./data/mockdata.sqlite")
cur = conn.cursor()
cur.execute("SELECT state, Industry,year,total_pop,education,income,pct_urb FROM mockdata GROUP BY state")
results=cur.fetchall()
states_group=[]
for result in results:
    states_group.append(dict(state=result[0],industry=result[1],year=result[2],total_population=result[3],education=result[4],income=result[5]))

states_group

[{'state': 'GA',
  'industry': 'Manufacturing',
  'year': 1985,
  'total_population': 9000,
  'education': 'Colelge Graduate',
  'income': 97000},
 {'state': 'NY',
  'industry': 'Mining',
  'year': 1990,
  'total_population': 123123,
  'education': 'Highscool',
  'income': 128000}]

In [27]:
results

[('GA', 'Manufacturing', 1985, 9000, 'Colelge Graduate', 97000, '43%'),
 ('NY', 'Mining', 1990, 123123, 'Highscool', 128000, '75%')]

# Data Needed

year
count(people)


coount gruped by industry and year

In [33]:
conn = sqlite3.connect("./data//mockdata.sqlite")
cur = conn.cursor()
cur.execute("SELECT count(total_pop) AS Jobs, Industry,year FROM mockdata GROUP BY Industry,year")
results=cur.fetchall()
time_group=[]
for result in results:
    states_group.append(dict(jobs=result[0],industry=result[1],year=result[2]))

time_group

[]

In [34]:
results

[(1, 'Manufacturing', 1985), (1, 'Mining', 1990)]

# Manufacturing and education level

In [ ]:
conn = sqlite3.connect("./data//mockdata.sqlite")
cur = conn.cursor()
cur.execute("SELECT count(total_pop) AS Jobs, Industry,year FROM mockdata GROUP BY Industry,year")
results=cur.fetchall()
time_group=[]
for result in results:
    states_group.append(dict(jobs=result[0],industry=result[1],year=result[2]))

time_group

# Range

In [38]:
start=1985
end=2000

In [39]:


conn = sqlite3.connect("./data//mockdata.sqlite")
cur = conn.cursor()
cur.execute(f"SELECT total_pop, year FROM mockdata WHERE year >= {start} and year <= {end} ;")
results=cur.fetchall()
range_group=[]
for result in results:
    range_group.append(dict(jobs=result[0],year=result[1]))

In [40]:
range_group

[{'jobs': 9000, 'year': 1985}, {'jobs': 123123, 'year': 1990}]

# Real Data

/timespan

In [5]:
conn = sqlite3.connect("./data/Project3.db")
cur = conn.cursor()
cur.execute("SELECT DISTINCT Year FROM Employ ORDER BY year")
results=cur.fetchall()
year_list=[]
for result in results:
    year_list.append(result[0])
    
year_list

['1950', '1960', '1970', '1980', '1990', '2000', '2010', '2015', '2017']

/bubble_graph

In [9]:
conn = sqlite3.connect("./data/Project3.db")
cur = conn.cursor()
cur.execute("SELECT Income.Year, Income.Ind, Age.Age, Income.obs, Income.Income FROM Income , Age WHERE Age.ind=Income.ind AND Age.Year=Income.Year;")
results=cur.fetchall()
bubble_group=[]
for result in results:
    bubble_group.append(dict(year=result[0],industry_sid=result[1],median_age=result[2],jobs_number=result[3],median_income=result[4]))

bubble_group[0]

{'year': '1950',
 'industry_sid': '1',
 'median_age': '39',
 'jobs_number': '20956',
 'median_income': '950'}

/chloropleth

In [10]:
# conn = sqlite3.connect("./data/Project3.db")
# cur = conn.cursor()

/education_data

In [12]:
conn = sqlite3.connect("./data/Project3.db")
cur = conn.cursor()
cur.execute(f"SELECT Ind, Obs, Education FROM Education WHERE Year=1950;")
results=cur.fetchall()
if result

[('1', '71060', '0'),
 ('1', '19361', '1'),
 ('1', '874', '2'),
 ('1', '119', '3'),
 ('2', '134518', '0'),
 ('2', '41402', '1'),
 ('2', '4195', '2'),
 ('2', '500', '3'),
 ('3', '39594', '0'),
 ('3', '13797', '1'),
 ('3', '1254', '2'),
 ('3', '119', '3'),
 ('4', '31516', '0'),
 ('4', '6420', '1'),
 ('4', '5651', '2'),
 ('4', '2872', '3'),
 ('5', '19160', '0'),
 ('5', '7144', '1'),
 ('5', '1901', '2'),
 ('5', '362', '3')]

In [ ]:
conn = sqlite3.connect("./data/Project3.db")
cur = conn.cursor()
cur.execute("SELECT Obs, sex FROM allsex WHERE Year='1950' AND Ind='1';")
results=cur.fecthall()